@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@-webkit-keyframes mouse {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
@keyframes mouse {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-webkit-keyframes bubble {
  0% {
    -webkit-transform: scale(0.15, 0.15);
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.33, 0.33);
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0; } }

@keyframes bubble {
  0% {
    -webkit-transform: scale(0.15, 0.15);
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.33, 0.33);
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0; } }

@-webkit-keyframes move-hand-right {
  0% {
    -webkit-transform: translateY(-102px);
    transform: translateY(-102px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes move-hand-right {
  0% {
    -webkit-transform: translateY(-102px);
    transform: translateY(-102px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes move-hand-left {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes move-hand-left {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes move-phone {
  0% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes move-phone {
  0% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes move-icon {
  0% {
    -webkit-transform: translateY(18px);
    transform: translateY(18px); }
  50% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes move-icon {
  0% {
    -webkit-transform: translateY(18px);
    transform: translateY(18px); }
  50% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes move-icon-2 {
  0% {
    -webkit-transform: translateY(13px);
    transform: translateY(13px); }
  50% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes move-icon-2 {
  0% {
    -webkit-transform: translateY(13px);
    transform: translateY(13px); }
  50% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes move-icon-3 {
  0% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px); }
  50% {
    -webkit-transform: translateY(13px);
    transform: translateY(13px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes move-icon-3 {
  0% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px); }
  50% {
    -webkit-transform: translateY(13px);
    transform: translateY(13px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes jump {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: 14px;
  color: #2b2b2b; }

.img-responsive {
  max-width: 100%;
  height: auto; }

*::-moz-selection {
  color: #fff;
  background: #fe8c82; }

*::selection {
  color: #fff;
  background: #fe8c82; }

a {
  color: #272727;
  word-break: break-all;
  text-decoration: none; }

.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  clear: both;
  visibility: hidden; }

.esunlogo {
  display: block;
  float: left;
  margin: 0;
  padding: 10px 15px; }
  .esunlogo img {
    width: 225px; }

header {
  z-index: 10;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  background-color: #f8f8f8;
  min-height: 50px; }
  header .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }

.target-burger {
  right: 0;
  top: 0;
  width: 3.25em;
  height: 3.25em;
  position: absolute;
  display: block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.buns {
  width: 1.625em;
  height: 1.625em;
  list-style: none;
  margin: -0.8125em 0 0 -0.8125em;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: #fff;
  -webkit-transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }
  .buns li {
    width: 100%;
    height: 2px;
    background-color: #a2a2a2;
    position: absolute;
    top: 50%;
    margin-top: -0.75px;
    -webkit-transform: translateY(-3.75px) translateZ(0);
    transform: translateY(-3.75px) translateZ(0);
    -webkit-transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }
    .buns li:last-child {
      -webkit-transform: translateY(3.75px) translateZ(0);
      transform: translateY(3.75px) translateZ(0); }

nav ul {
  list-style: none; }
  nav ul li {
    font-size: 16px;
    margin: 0 10px; }
    nav ul li a {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }

.float-btn {
  position: absolute;
  right: 25px;
  top: 50%;
  z-index: 100;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0; }
  .float-btn a {
    height: 86px;
    width: 86px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    background: #42bc9f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
    -webkit-box-shadow: 3px 2px 0px rgba(119, 119, 119, 0.5);
    box-shadow: 3px 2px 0px rgba(119, 119, 119, 0.5);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .float-btn a:hover {
      -webkit-box-shadow: 3px 2px 0px #777777;
      box-shadow: 3px 2px 0px #777777; }
    .float-btn a:last-child {
      background: #ff6478; }

.kv {
  background: url(../img/bg-kv.jpg);
  background-size: cover;
  height: 782px;
  position: relative;
  background-position: center; }
  .kv h1 {
    margin: 0; }
  .kv .right-hand {
    -webkit-animation: move-hand-right 3s ease-out;
    animation: move-hand-right 3s ease-out; }
  .kv .left-hand {
    -webkit-animation: move-hand-left 2s ease-out;
    animation: move-hand-left 2s ease-out; }
  .kv .phone {
    -webkit-animation: move-phone 2.5s ease-out;
    animation: move-phone 2.5s ease-out; }
  .kv .kv-icon {
    -webkit-animation: move-icon 3s ease-out infinite alternate;
    animation: move-icon 3s ease-out infinite alternate; }
  .kv .kv-icon-2 {
    -webkit-animation: move-icon-2 2.5s ease-out infinite alternate;
    animation: move-icon-2 2.5s ease-out infinite alternate;
    -webkit-animation-delay: .3s;
    animation-delay: .3s; }
  .kv .kv-icon-3 {
    -webkit-animation: move-icon-3 2.5s cubic-bezier(0.62, 0.07, 0.5, 1.01) infinite alternate;
    animation: move-icon-3 2.5s cubic-bezier(0.62, 0.07, 0.5, 1.01) infinite alternate; }
  .kv .scroll {
    cursor: pointer;
    -webkit-animation: mouse 2s infinite;
    animation: mouse 2s infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    display: block; }
  .kv .coin {
    max-width: 32px;
    width: 100%;
    display: block;
    margin: 0 auto;
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px); }
  .kv .line {
    width: 11px;
    display: block;
    margin: 6px auto 2px; }
  .kv .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }
  .kv .title {
    max-width: 420px;
    width: 100%;
    text-align: center;
    padding-top: 10%; }
    .kv .title p {
      font-size: 22px;
      margin-bottom: 30px; }
  .kv .scroll p {
    margin: 0;
    font-size: 14px !important;
    color: #ffa214; }
  .kv .kv-hand {
    max-width: 693px;
    width: 100%;
    position: absolute;
    right: 0; }

#tab-container {
  text-align: center;
  background: #ffc77d;
  padding-top: 66px;
  overflow: hidden; }

.curve-bg {
  margin-top: 137px;
  display: block;
  width: 100%; }

.tabs-list a {
  max-width: 266px;
  width: 100%;
  display: inline-block;
  background: #fc95a7;
  font-size: 18px;
  padding: 20px 62px;
  text-align: center;
  line-height: 22px;
  border-radius: 16px;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  position: relative;
  margin: 0 20px; }
  .tabs-list a:after {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: bottom;
    -o-transition-property: bottom;
    transition-property: bottom;
    position: absolute;
    border-width: 10px 10px 0 10px;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-color: #FF697B transparent transparent transparent;
    opacity: 0; }
  .tabs-list a:hover {
    opacity: 1; }

.tabs-list {
  padding: 0;
  text-align: center; }
  .tabs-list li span {
    color: #fff; }

.tabs-list .m-active {
  background: #FF697B;
  /* Fondo de las pestañas al presionar */
  color: #fff;
  /* Color de las pestañas al presionar */
  position: relative;
  z-index: 6;
  opacity: 0; }
  .tabs-list .m-active::after {
    opacity: 1; }

#content {
  background: #ffc77d;
  /* Fondo del contenido */
  margin-top: 150px;
  position: relative;
  width: 100%;
  z-index: 5; }

.slick-dots {
  bottom: -56px; }
  .slick-dots li button::before {
    font-size: 30px;
    color: #f76c5f; }

.slick-dots li.slick-active button:before {
  color: #f76c5f;
  opacity: 1; }

.slick-prev:before,
.slick-next:before {
  font-size: 42px;
  opacity: 1;
  color: #f76c5f; }

.slick-prev {
  left: -70px; }

.slick-next {
  right: -47px; }

.con-icon {
  position: absolute; }

.con-icon-1 {
  -webkit-animation: move-icon-2 2.5s ease-out infinite alternate;
  animation: move-icon-2 2.5s ease-out infinite alternate;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  max-width: 83px;
  width: 100%;
  top: -26px;
  left: 0; }

.con-icon-2 {
  max-width: 53px;
  width: 100%;
  left: -71px;
  top: -28px; }

.con-icon-3 {
  -webkit-animation: move-icon 3s ease-out infinite alternate;
  animation: move-icon 3s ease-out infinite alternate;
  max-width: 62px;
  width: 100%;
  left: -104px;
  top: 68px; }

.con-icon-4 {
  max-width: 57px;
  width: 100%;
  right: 21px;
  bottom: -132px;
  -webkit-animation: move-icon-3 2.5s cubic-bezier(0.62, 0.07, 0.5, 1.01) infinite alternate;
  animation: move-icon-3 2.5s cubic-bezier(0.62, 0.07, 0.5, 1.01) infinite alternate; }

.con-icon-5 {
  max-width: 32px;
  width: 100%;
  right: -18px;
  bottom: -157px; }

#content .con {
  display: inline-block;
  max-width: 597px;
  position: relative;
  width: 100%;
  vertical-align: middle; }
  #content .con ul {
    display: table;
    margin: 36px auto;
    line-height: 32px;
    font-size: 18px;
    text-align: left; }
  #content .con a {
    display: block;
    max-width: 223px;
    width: 100%;
    background: #F3555A;
    color: #fff;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 14px;
    padding: 22px;
    border: 1px solid;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    z-index: 0;
    overflow: hidden; }
    #content .con a::before {
      content: '';
      display: block;
      width: 400px;
      position: absolute;
      height: 400px;
      background: #dd3e43;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      z-index: -1; }
    #content .con a:hover {
      letter-spacing: 1px; }
      #content .con a:hover::before {
        -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1); }
  #content .con h2 {
    font-size: 22px;
    color: #F3555A;
    font-weight: 500;
    line-height: 32px; }
    #content .con h2::after {
      content: '';
      display: block;
      width: 350px;
      height: 1px;
      background: #F3555A;
      margin: 20px auto; }
  #content .con::before {
    content: '';
    display: block;
    width: 678px;
    height: 678px;
    border-radius: 50%;
    background: #FAEAD3;
    position: absolute;
    z-index: -1;
    top: -148px; }

.swiper-button-prev {
  left: -60px; }

.swiper-button-next {
  right: -60px; }

.iphone-slide {
  width: 270px;
  position: relative;
  top: 20px;
  margin: 0 auto; }

.iphone-canvas {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 296px;
  width: 100%;
  height: 484px;
  background: url(../img/kv-phone-bg.svg) no-repeat;
  background-position: center; }

.ta-gruop {
  background: #fce8df; }
  .ta-gruop .button-group {
    margin-top: 40px; }
    .ta-gruop .button-group a {
      display: inline-block;
      max-width: 223px;
      width: 100%;
      background: #F3555A;
      color: #fff;
      font-size: 18px;
      margin: 20px 10px;
      border-radius: 14px;
      padding: 22px;
      border: 1px solid;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      position: relative;
      z-index: 0;
      overflow: hidden; }
      .ta-gruop .button-group a::before {
        content: '';
        display: block;
        width: 400px;
        position: absolute;
        height: 400px;
        background: #dd3e43;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        z-index: -1; }
      .ta-gruop .button-group a:hover {
        letter-spacing: 2px; }
        .ta-gruop .button-group a:hover::before {
          -webkit-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1); }
      .ta-gruop .button-group a:last-child {
        background: #FAB23C; }
        .ta-gruop .button-group a:last-child::before {
          background: #eca532; }
        .ta-gruop .button-group a:last-child:hover {
          letter-spacing: 1px; }
          .ta-gruop .button-group a:last-child:hover::before {
            -webkit-transform: translate(-50%, -50%) scale(1);
            -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }
  .ta-gruop .col-4 {
    max-width: 373px;
    width: 100%;
    display: inline-block;
    margin: 0 20px;
    position: relative; }
    .ta-gruop .col-4:first-child .arrow-1 {
      right: 119px;
      top: 30px;
      max-width: 28px; }
    .ta-gruop .col-4:nth-child(2) .arrow-1 {
      left: 37%;
      top: 38px; }
    .ta-gruop .col-4:nth-child(3) .arrow-1 {
      max-width: 26px;
      left: 35%;
      top: 40px; }
    .ta-gruop .col-4 .pic {
      -webkit-transform: translateY(77px);
      -ms-transform: translateY(77px);
      transform: translateY(77px); }
      .ta-gruop .col-4 .pic h3 {
        color: #F3555A;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 38px; }
    .ta-gruop .col-4 .txt {
      max-width: 373px;
      width: 100%;
      background: #fff;
      font-size: 18px;
      line-height: 30px;
      padding: 15px 10px;
      border-radius: 24px;
      padding-top: 100px; }
    .ta-gruop .col-4 .people {
      margin: 0 auto;
      height: 210px; }
  .ta-gruop .arrow-1 {
    max-width: 40px;
    width: 100%;
    position: absolute; }

.sub-title {
  text-align: center; }
  .sub-title img {
    display: inline-block;
    width: 16px;
    vertical-align: middle;
    margin: 0 10px; }
  .sub-title h2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px; }

.subscribe {
  background: #fce8df;
  padding: 60px; }
  .subscribe a {
    display: block;
    max-width: 223px;
    width: 100%;
    background: #F3555A;
    color: #fff;
    font-size: 18px;
    margin: 20px auto;
    border-radius: 14px;
    padding: 22px;
    border: 1px solid;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    z-index: 0;
    overflow: hidden; }
    .subscribe a::before {
      content: '';
      display: block;
      width: 400px;
      position: absolute;
      height: 400px;
      background: #dd3e43;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      z-index: -1; }
    .subscribe a:hover {
      letter-spacing: 2px; }
      .subscribe a:hover::before {
        -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1); }
  .subscribe .video {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px; }

#content-3 .avg-button {
  display: block;
  max-width: 250px;
  width: 100%;
  background: #F3555A;
  color: #fff;
  font-size: 16px;
  margin: 30px auto;
  border-radius: 14px;
  padding: 22px;
  border: 1px solid;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-bottom: 0; }
  #content-3 .avg-button::before {
    content: '';
    display: block;
    width: 400px;
    position: absolute;
    height: 400px;
    background: #dd3e43;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: -1; }
  #content-3 .avg-button:hover {
    letter-spacing: 1px; }
    #content-3 .avg-button:hover::before {
      -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1); }

.step {
  margin-top: 80px; }

.telescope {
  position: absolute;
  max-width: 153px;
  width: 100%;
  bottom: -30px;
  left: -30px; }

.board {
  display: inline-block;
  max-width: 430px;
  width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0 3px 16px #ddd;
  box-shadow: 0 3px 16px #ddd; }

.average {
  padding: 30px;
  max-width: 890px;
  width: 100%;
  background: #fcf7ee;
  border-radius: 20px;
  position: relative;
  margin: 20px auto; }
  .average .con-average {
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle; }
    .average .con-average p {
      font-size: 16px;
      line-height: 30px;
      margin-top: 18%;
      text-align: left; }
      .average .con-average p span {
        color: #f3555a; }

.step-row {
  margin-top: 60px; }
  .step-row .step-wrap {
    background: #e7eee9;
    padding: 20px;
    border-radius: 22px;
    margin-top: 30px; }
  .step-row .col-4 {
    max-width: 314px;
    height: 580px;
    vertical-align: top; }
    .step-row .col-4 .step-txt {
      margin-top: 30px; }
      .step-row .col-4 .step-txt p {
        font-size: 16px;
        line-height: 22px; }
        .step-row .col-4 .step-txt p span {
          font-size: 14px;
          color: #4d4d4d;
          display: block;
          margin-top: 6px; }
      .step-row .col-4 .step-txt a {
        color: #42bc9f;
        text-decoration: underline;
        display: block;
        margin: 0 auto; }
    .step-row .col-4 h3 {
      background: #42bc9f;
      max-width: 100px;
      padding: 10px;
      margin: 0 auto;
      color: #fff;
      border-radius: 10px; }
    .step-row .col-4 img {
      max-width: 270px;
      width: 100%;
      margin: 0 auto; }

.action-area h2 {
  font-size: 38px;
  color: #F3555A; }
  .action-area h2 span {
    font-size: 22px;
    display: block;
    margin-top: 6px; }

.action-area .foot-pic {
  display: block; }

.action-area .foot-man {
  max-width: 360px;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.action-area .main-pic {
  max-width: 724px;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .action-area .main-pic .foot-icon {
    position: absolute; }
  .action-area .main-pic .foot-icon-1 {
    max-width: 236px;
    width: 100%;
    left: -224px;
    -webkit-animation: move-icon 3.5s ease-out infinite alternate;
    animation: move-icon 3.5s ease-out infinite alternate; }
  .action-area .main-pic .foot-icon-2 {
    max-width: 62px;
    width: 100%;
    left: -238px;
    -webkit-animation: move-icon-3 2.5s cubic-bezier(0.62, 0.07, 0.5, 1.01) infinite alternate;
    animation: move-icon-3 2.5s cubic-bezier(0.62, 0.07, 0.5, 1.01) infinite alternate; }
  .action-area .main-pic .foot-icon-3 {
    max-width: 60px;
    width: 100%;
    right: 6px; }
  .action-area .main-pic .foot-icon-4 {
    max-width: 84px;
    width: 100%;
    right: 7px;
    top: 138px;
    -webkit-animation: move-icon 3s ease-out infinite alternate;
    animation: move-icon 3s ease-out infinite alternate; }
  .action-area .main-pic .foot-icon-5 {
    max-width: 60px;
    width: 100%;
    right: 30px;
    top: 17px;
    z-index: -1; }
  .action-area .main-pic svg {
    max-width: 872px;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -15%);
    -ms-transform: translate(-50%, -15%);
    transform: translate(-50%, -15%);
    position: absolute; }

.action-area .button-group {
  margin-top: 40px; }
  .action-area .button-group a {
    display: inline-block;
    max-width: 223px;
    width: 100%;
    background: #FFA214;
    color: #fff;
    font-size: 18px;
    margin: 20px 10px;
    border-radius: 14px;
    padding: 22px;
    border: 1px solid;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    z-index: 0;
    overflow: hidden; }
    .action-area .button-group a::before {
      content: '';
      display: block;
      width: 400px;
      position: absolute;
      height: 400px;
      background: #FAB23C;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      z-index: -1; }
    .action-area .button-group a:hover {
      letter-spacing: 2px; }
      .action-area .button-group a:hover::before {
        -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1); }
    .action-area .button-group a:last-child {
      background: #007AFF; }
      .action-area .button-group a:last-child::before {
        background: #046ddf; }
      .action-area .button-group a:last-child:hover {
        letter-spacing: 1px; }
        .action-area .button-group a:last-child:hover::before {
          -webkit-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1); }

.curve-bg-2 {
  width: 100%; }

.active_Notice i::before {
  content: "\f068"; }

.Notice {
  background: #efefef; }
  .Notice p {
    font-weight: 500; }
  .Notice a {
    color: #009d98; }
  .Notice ol {
    margin-bottom: 0; }
  .Notice .con {
    max-width: 1136px;
    width: 100%;
    margin: 18px auto 0;
    line-height: 26px;
    text-align: justify;
    padding-bottom: 20px;
    display: none; }
  .Notice h2 {
    font-size: 22px;
    background: #E6E6E6;
    color: #000;
    text-align: center;
    padding: 10px 0;
    font-weight: normal;
    margin: 0;
    cursor: pointer; }
    .Notice h2 i {
      margin-left: 10px; }

footer {
  background: url(../img/footerBg.jpg) repeat-y center;
  color: #fff; }
  footer .link {
    font-size: 13px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    line-height: 1.5; }
    footer .link li {
      display: inline-block;
      letter-spacing: 0.05em; }
      footer .link li a {
        color: #fff; }
  footer .col-rate {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    text-align: justify; }
  footer .top {
    background-color: #E9E9E9; }
    footer .top a {
      color: #009d98; }
    footer .top .block {
      padding: 0 20px; }
      footer .top .block ul {
        max-width: 1200px;
        margin: 0 auto;
        vertical-align: middle;
        padding: 0px; }
        footer .top .block ul li {
          display: inline-block;
          margin: 20px 0;
          color: #111111; }

@media screen and (min-width: 1200px) {
  .action-area .main-pic {
    height: 563px; }
  .action-area .main-pic svg {
    height: 240px; } }

@media screen and (min-width: 801px) {
  .buns {
    display: none; }
  nav {
    float: right;
    width: auto; }
    nav ul li {
      display: inline-block; } }

@media screen and (max-width: 1180px) {
  .kv {
    padding: 0 20px;
    height: 644px; }
    .kv .title {
      max-width: 355px;
      padding-top: 8%;
      margin-left: 6%; }
    .kv .kv-hand {
      max-width: 525px; }
  #content .con {
    max-width: 520px; }
  .con-icon-3 {
    left: -67px; }
  .action-area .foot-man {
    max-width: 284px; }
  .action-area .main-pic {
    max-width: 542px; }
    .action-area .main-pic .foot-icon-2 {
      left: -195px; }
    .action-area .main-pic .foot-icon-1 {
      max-width: 187px;
      left: -166px; } }

@media screen and (max-width: 800px) {
  .kv .kv-hand {
    max-width: 427px;
    z-index: 0;
    bottom: -32px; }
  .action-area .button-group {
    margin: 20px 0;
    margin-top: 0; }
    .action-area .button-group a {
      margin-top: 0; }
  .action-area .foot-man {
    max-width: 254px; }
  .action-area .main-pic {
    max-width: 468px; }
    .action-area .main-pic .foot-icon-1 {
      max-width: 136px;
      left: -91px; }
    .action-area .main-pic .foot-icon-2 {
      left: -118px; }
  #content .con::before {
    width: 500px;
    height: 500px;
    top: -107px; }
  .tabs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .tabs-list a {
      margin: 0 10px;
      padding: 20px 40px; }
  .target-burger.toggled .buns li {
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0); }
    .target-burger.toggled .buns li:last-child {
      -webkit-transform: rotate(-45deg) translateZ(0);
      transform: rotate(-45deg) translateZ(0); }
  .main-nav {
    position: absolute;
    left: 0;
    top: 42px;
    z-index: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: rgba(164, 222, 205, 0.92); }
    .main-nav ul {
      padding: 0; }
      .main-nav ul li {
        margin: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        padding: 10px; }
        .main-nav ul li a {
          font-size: 20px;
          display: block; }
          .main-nav ul li a:hover {
            padding-left: 10px; }
  .main-nav.toggled {
    display: block;
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; } }

@media screen and (max-width: 500px) {
  .board {
    margin: 15px auto; }
  #content-3 .ta-gruop .button-group {
    margin-top: 20px;
    margin-bottom: 0; }
  .float-btn {
    right: 10px; }
    .float-btn a {
      font-size: 16px;
      height: 60px;
      width: 60px; }
  .ta-gruop .button-group a:last-child {
    background: #FAB23C;
    margin-bottom: 0 !important; }
  .step-row .col-4 {
    margin: 20px auto; }
  .video iframe {
    height: 300px; }
  .telescope {
    max-width: 91px;
    bottom: 93px;
    left: -11px; }
  .average {
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0; }
    .average .con-average {
      display: table;
      margin: 0 auto; }
      .average .con-average p {
        margin-top: 0%; }
  .action-area .main-pic {
    max-width: 327px;
    margin-top: 202px; }
    .action-area .main-pic .foot-icon-5 {
      max-width: 32px;
      top: -67px; }
    .action-area .main-pic .foot-icon-3 {
      max-width: 47px;
      right: 43px;
      top: -53px; }
    .action-area .main-pic .foot-icon-2 {
      left: 10px;
      max-width: 35px; }
    .action-area .main-pic .foot-icon-4 {
      max-width: 55px;
      top: 109px; }
    .action-area .main-pic .foot-icon-1 {
      max-width: 112px;
      left: 13px;
      top: -122px; }
  .action-area h2 {
    font-size: 30px; }
    .action-area h2 span {
      font-size: 20px;
      margin-top: 8px; }
  .subscribe {
    margin-top: -7px;
    padding: 50px 20px; }
  .button-group a {
    display: block !important;
    margin: 5px auto !important; }
  .ta-gruop .col-4 {
    max-width: 300px; }
    .ta-gruop .col-4 p {
      font-size: 15px; }
  .slick-prev {
    width: 40px;
    height: 40px;
    left: -40px; }
  .slick-next {
    width: 40px;
    height: 40px;
    right: -40px; }
  .con-icon-5 {
    right: 15px;
    bottom: -16px; }
  .con-icon-4 {
    bottom: -52px;
    z-index: 2; }
  .con-icon-2 {
    max-width: 38px;
    left: 0;
    top: -28px;
    z-index: -2; }
  .con-icon-1 {
    max-width: 57px;
    left: 16px;
    top: -19px;
    z-index: -1; }
  #content {
    margin-top: 60px; }
    #content .con {
      margin-bottom: 52px; }
      #content .con::before {
        width: 300px;
        height: 300px;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      #content .con ul {
        margin: 36px auto 0;
        line-height: 27px;
        font-size: 16px; }
      #content .con h2 {
        font-size: 16px;
        line-height: 28px; }
  .tabs-list {
    display: block; }
    .tabs-list a {
      padding: 14px;
      max-width: 100px;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      margin: 0 5px; }
  .kv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    overflow: hidden;
    background-position: right;
    background-size: cover;
    height: 722px; }
    .kv .title {
      margin: 40px auto;
      margin-top: 0; }
      .kv .title p {
        font-size: 20px; }
      .kv .title h1 img {
        display: block;
        max-width: 300px;
        margin: 0 auto; }
    .kv .kv-hand {
      position: relative;
      right: -29px;
      top: -45px;
      max-width: 600px; }
  .Notice .con {
    padding-right: 1em; }
  .Notice h2 {
    font-size: 20px; } }

@media screen and (max-width: 330px) {
  .tabs-list a {
    margin: 0; }
  #content .con h2::after {
    max-width: 300px; } }

/*# sourceMappingURL=style.css.map */